@media (max-width:1024px) {
    .nav {
        &__inner{
            justify-content: space-between;
            padding: 0 10px;
        }
        &__link {
            font-size: 16px;
            line-height: 23px;
            svg{
                margin-left: 17px;
            }
        }
    }
    .introduce{
        &-img{
            &__box{
                left: 45%;
                top: 20%;
            }
        }
    }
    .header {
        &__introduce {
            &-title {
                font-size: 45px;
                margin-bottom: 36px;
            }
            &-discr {
                font-size: 20px;
            }
        }
        &-text {
            display: none;
        }
        &__stat {
            &-inner{
                padding: 0;
                background-color: transparent;
                border: none;
                border-radius: none;
            }
        }
    }
    .violet {
        &-btn {
            max-width: 320px;
            padding: 21px 0;
            font-size: 20px;
            line-height: 34px;
        }
    }
    .stat {
        gap: 15px;
        background: transparent;
        justify-content: space-between;
        &-container {
            flex-direction: column-reverse;
        }
        &__count {
            gap: 3px;
            justify-content: center;
            width: 100%;
            background: #202020;
            border-radius: 14px;
            padding: 8px 23px;
            &-box{
                padding: 5px;
                background-color: transparent;
                border: 1px solid #404040;
                border-radius: 20px;
            }
        }
    }
    .possibilities {
        &-text{
            margin: 0;
        }
        &-img {
            top: 5%;
            width: 40%;
        }
    }
    .box {
        &__caption {
            font-size: 40px;
        }
    }
    .item {
        &__caption {
            font-size: 31px;
        }
        &__desc {
            font-size: 17px;
        }
    }
    .solving {
        justify-content: center;
        flex-wrap: wrap;
        gap: 16px;
        &__content{
            gap: 50px;
        }
    }
    .main {
        &__possibilities {
            &-inner{
                margin-bottom: 135px;
            }
        }
        &__feedback{
            &-box{
                margin-bottom: 140px;
            }
        }
    }
    .partners-img {
        &__wrapper {
            flex-wrap: wrap;
            justify-content: center;
            gap: 26px;
            margin-bottom: 125px;
        }
    }
    .approach{
        &__wrapper{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            gap: 30px;
        }
    }
    .instruction {
        &__content {
            gap: 20px;
            margin-bottom: 105px;
        }
        &__caption{
            font-size: 20px;
        }
        &__list{
            gap: 30px;
            &-item{
                gap: 20px;
            }
        }
        &-img{
            padding: 20px;
        }
    }
    .footer {
        &-contacts {
            justify-content: center;
            flex-wrap: wrap;
            gap: 16px;
        }
        &-location{
            justify-content: center;
            flex-wrap: wrap;
            gap: 16px;
        }
        &-nav{
            &__list{
                font-size: 13px;
            }
            &__link{
                font-size: 11px;
            }
        }
    }
}
@media (max-width:768px) {
    .header {
        padding-top: 0;
        &__menu{
            &-box{
                padding: 25px 0;
                background: #1A1B1B;
                margin-bottom: 25px;
            }
            &-inner{
                margin-bottom: 0;
            }
        }
        &-btn{
            &__box{
                display: none;
            }
        }
        &__nav{
            &-inner{
                display: none;
            }
        }
        &__introduce{
            &-inner{
                margin-bottom: 60px;
            }
        }
        &__stat{
            &-inner{
                margin-bottom: 55px;
            }
        }
    }
    .burger{
        &-box{
            display: block;
        }
    }
    .introduce{
        &-img{
            &__box{
                display: none;
            }
        }
    }
    .stat{
        &__count{
            &-box{
                min-width: 260px;
            }
        }
    }
    .main{
        &__possibilities{
            &-inner{
                .box__caption{
                    margin-bottom: 65px;
                }
            }
        }
        &__solving{
            &-inner{
                padding: 35px 29px 35px 29px;
            }
        }
        &__approach{
            &-inner{
                margin-bottom: 100px;
            }
        }
        &__feedback{
            &-box{
                margin-bottom: 90px;
            }
        }
        &__partners{
            &-box{
                .box__caption{
                    margin-bottom: 60px;
                }
            }
        }
    }
    .possibilities{
        &-item{
            padding: 48px 0;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 31px;
        }
        &-img{
            position: initial;
            width: 65%;
        }
        &-text{
            padding: 0 20px;
        }
    }
    .solving {
        &__content{
            flex-direction: column;
        }
        &__nav{
            &-item{
                max-width: 200px;
            }
        }
    }
    .partners{
        &-img{
            &__wrapper{
                flex-wrap: nowrap;
                justify-content: flex-start;
            } 
        }
    }
    .approach{
        &__wrapper{
            display: flex;
            &-item{
                min-width: 100%;
            }
        }
    }
    .feedback{
        &-img{
            &__box{
                display: none;
            }
        }
    }
    .footer{
        &-nav{
            &:nth-child(1){
                display: none;
            }
            &__caption{
                &:not(:last-child){
                    display: none;
                }
            }
            &__inner{
                justify-content: center;
            }
        }
        &-location{
            border: none;
            margin-bottom: 14px;
            text-align: center;
        }
        &-contacts{
            text-align: center;
            border: none;
            padding-bottom: 0;
            margin-bottom: 16px;
        }
        &__other{
            justify-content: center;
        }
    }
    .instruction{
        &__list{
            padding: 0;
            flex-direction: row;
            &-item{
                padding: 20px 17px 39px;
                max-width: 100%;
                flex-direction: column-reverse;
                align-items: center;
                min-width: 100%;
                background: #191919;
                border-radius: 20px;
            }
        }
        &-img{
            background: transparent;
            padding: 0;
            &__box{
                position: initial;
                transform: translate(0%, 0%);
            }
        }
        &-btn{
            margin-bottom: 18px;
        }
    }
}
@media (max-width:425px) {
    .logo-img{
        width: 72%;
    }
    .header {
        &__introduce{
            &-title{
                font-size: 30px;
                margin-bottom: 22px;
            }
            &-discr{
                font-size: 16px;
                margin-bottom: 39px;
            }
        }
    }
    .main{
        &__possibilities{
            &-inner{
                margin-bottom: 44px;
                .box__caption{
                    margin-bottom: 27px;
                }
            }
        }
        &__solving{
            &-box{
                .box__caption{
                    margin-bottom: 25px;
                }
            }
            &-inner{
                margin-bottom: 62px;
            }
        }
        &__instruction{
            &-box{
                .box__caption{
                    margin-bottom: 29px;
                }
            }
        }
        &__partners{
            &-box{
                .box__caption{
                    margin-bottom:  51px;
                }
            }
        }
        &__try{
            &-box{
                .item__desc{
                    margin-bottom: 29px;
                }
            }
        }
    }
    .stat{
        &-text{
            font-size: 14px;
        }
    }
    .box__caption{
        font-size: 25px;
    }
    .item{
        &__caption{
            font-size: 20px;
        }
        &__desc{
            font-size: 15px;
        }
    }
    .possibilities{
        &-text{
            .item__caption{
                margin-bottom: 19px;
            }
        }
    }
    .solving{
        &__nav{
            &-btn{
                font-size: 10px;
            }
            &-item{
                max-width: 135px;
            }
        }
    }
    .partners-img__wrapper{
        margin-bottom: 103px;
    }
    .violet-btn{
        max-width: 205px;
        font-size: 14px;
        padding: 12px 0;
    }
    .try-btn{
        padding: 12px 0;
        max-width: 205px;
        font-size: 14px;
    }
    .approach{
        &-open{
            padding: 20px 17px 41px;
        }
    }
}