@import url(c:\Users\Admin\Desktop\VSCODE\PETPROJECTS\togotop\src\style\fonts.css);
@import url(c:\Users\Admin\Desktop\VSCODE\PETPROJECTS\togotop\src\style\cssReset.css);
@keyframes fadeOut {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes aproachOpenImg {
  0% {
    width: 111px;
    height: 111px;
    background-color: #7F5AF0;
    border: 2px solid #7F5AF0;
  }
  100% {
    width: 71px;
    height: 71px;
    background-color: #2CB67D;
    border: 2px solid #2CB67D;
  }
}

@keyframes aproachCloseImg {
  0% {
    width: 71px;
    height: 71px;
    background-color: #2CB67D;
    border: 2px solid #2CB67D;
  }
  100% {
    width: 111px;
    height: 111px;
    background-color: #7F5AF0;
    border: 2px solid #7F5AF0;
  }
}

@keyframes aproachCloseCard {
  0% {
    max-width: 506px;
  }
  100% {
    max-width: 228px;
  }
}

@keyframes aproachOpenCard {
  0% {
    max-width: 228px;
  }
  100% {
    max-width: 506px;
  }
}

body {
  background: #141414;
  overflow-x: hidden;
  color: #FFFFFF;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  width: 100%;
  padding: 0 17px;
  overflow: hidden;
}

.header {
  padding-top: 35px;
}

.header-text {
  flex: 1;
  font-family: 'Manrope';
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
}

.header__menu-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 26px;
}

.header__nav-inner {
  margin-bottom: 72px;
}

.header__introduce-box {
  position: relative;
}

.header__introduce-title {
  font-family: 'Inter';
  font-weight: 700;
  font-size: 50px;
  line-height: 139%;
  letter-spacing: 0.03em;
  margin-bottom: 51px;
}

.header__introduce-discr {
  font-weight: 700;
  font-size: 24px;
  line-height: 167%;
  color: #FFFFFF;
  margin-bottom: 73px;
}

.header__introduce-inner {
  max-width: 678px;
  width: 100%;
  margin-bottom: 93px;
}

.header__stat-inner {
  padding: 10px;
  background-color: transparent;
  border: 1px solid #404040;
  border-radius: 20px;
}

.header__stat-box {
  margin-bottom: 73px;
}

.header-btn__box {
  max-width: 440px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 19px;
}

.introduce-img__box {
  position: absolute;
  left: 38%;
  top: -10%;
  z-index: -1;
}

.logo-img {
  padding-right: 28px;
}

.sign-in {
  flex: 0 0 43%;
  color: #FFFFFF;
  background: #141414;
  border: 2px solid #7F5AF0;
  border-radius: 100px;
  max-width: 188px;
  width: 100%;
  padding: 10px 10px;
  transition: all 0.3s cubic-bezier(0.22, 1, 0.36, 1);
}

.sign-in:hover {
  background-color: #7F5AF0;
}

.sign-up {
  flex: 0 0 53%;
  padding: 10px 10px;
  color: #FFFFFF;
  background: #141414;
  border: 2px solid #2CB67D;
  border-radius: 100px;
  max-width: 233px;
  width: 100%;
  transition: all 0.3s cubic-bezier(0.22, 1, 0.36, 1);
}

.sign-up:hover {
  background-color: #2CB67D;
}

.nav {
  padding: 8px 0;
  background-color: #191919;
  opacity: 0.9;
  border: 2px solid #404040;
  border-radius: 20px;
}

.nav__inner {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav__item {
  padding: 6px 23px 9px 23px;
  transition: all 0.3s cubic-bezier(0.22, 1, 0.36, 1);
}

.nav__item:hover {
  background: rgba(44, 182, 125, 0.3);
  border-radius: 100px;
}

.nav__link {
  font-family: 'Manrope';
  font-weight: 700;
  font-size: 17px;
  line-height: 23px;
}

.nav__link svg {
  margin-left: 17px;
}

.violet-text {
  color: #7F5AF0;
}

.violet-btn {
  max-width: 348px;
  width: 100%;
  color: #FFFFFF;
  border-radius: 40px;
  padding: 19px 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 38px;
  background-color: #7F5AF0;
  border: 2px solid #7F5AF0;
  transition: all 0.3s cubic-bezier(0.22, 1, 0.36, 1);
}

.violet-btn:hover {
  background-color: transparent;
}

.green-text {
  color: #2CB67D;
}

.stat {
  display: flex;
  gap: 41px;
  padding: 10px 27px 8px;
  background: #191919;
  border-radius: 20px;
  user-select: none;
  touch-action: none;
  width: 100%;
  transition: transform 0.3s cubic-bezier(0.22, 1, 0.36, 1);
}

.stat-container {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 13px;
  color: #2CB67D;
}

.stat-container:nth-child(2) {
  color: #7F5AF0;
}

.stat-text {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 17px;
  line-height: 160%;
}

.stat__count {
  display: flex;
  gap: 5px;
  align-items: center;
}

.stat__count-number {
  font-size: 30px;
  font-weight: 800;
  line-height: 100%;
  padding: 11px 5px 11px 5px;
  background: #262626;
  border-radius: 7px;
}

.main__inner {
  margin-bottom: 69px;
}

.main__possibilities-box .box__caption {
  margin-bottom: 132px;
}

.main__possibilities-inner {
  margin-bottom: 187px;
  overflow: hidden;
}

.main__possibilities-container {
  user-select: none;
  touch-action: none;
  display: flex;
  max-width: 100%;
  padding-right: 20px;
}

.main__solving-box .box__caption {
  margin-bottom: 54px;
}

.main__solving-inner {
  padding: 48px 59px 57px 59px;
  background: #191919;
  border-radius: 20px;
  margin-bottom: 137px;
}

.main__instruction-box .box__caption {
  margin-bottom: 41px;
}

.main__partners-box .box__caption {
  margin-bottom: 124px;
}

.main__approach-box .box__caption {
  margin-bottom: 65px;
}

.main__approach-inner {
  margin-bottom: 186px;
}

.main__feedback-box {
  position: relative;
  margin-bottom: 516px;
}

.main__feedback-inner {
  max-width: 490px;
}

.main__feedback-inner .box__caption {
  margin-bottom: 44px;
}

.main__feedback-inner .item__desc {
  margin-bottom: 42px;
}

.main__try-inner {
  text-align: center;
}

.main__try-inner .box__caption {
  margin-bottom: 25px;
}

.main__try-inner .item__desc {
  margin-bottom: 56px;
}

.box__caption {
  font-family: 'Inter';
  font-weight: 700;
  font-size: 45px;
  line-height: 120%;
  letter-spacing: 0.03em;
}

.possibilities-item {
  position: relative;
  width: 100%;
  background: #191919;
  border-radius: 20px;
  padding: 94px 0;
  display: flex;
  justify-content: flex-end;
  min-width: 100%;
  margin-right: 20px;
}

.possibilities-item .item__caption {
  margin-bottom: 44px;
}

.possibilities-img {
  position: absolute;
  top: -21%;
  left: 0;
  width: 50%;
  user-select: none;
}

.possibilities-text {
  max-width: 451px;
  width: 100%;
  margin: 0 90px;
}

.item__caption {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.03em;
}

.item__desc {
  font-weight: 400;
  font-size: 20px;
  line-height: 157%;
}

.solving {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.solving__box {
  position: relative;
}

.solving__nav {
  margin-bottom: 52px;
}

.solving__nav-item {
  max-width: 274px;
  width: 100%;
  text-align: center;
}

.solving__nav-btn {
  padding: 14px 0;
  border: 3px solid #7F5AF0;
  border-radius: 25px;
  width: 100%;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  transition: all 0.3s cubic-bezier(0.22, 1, 0.36, 1);
}

.solving__nav-btn:hover {
  background-color: #7F5AF0;
}

.solving__content {
  display: none;
  align-items: center;
  gap: 100px;
}

.solving__content-text {
  max-width: 427px;
  width: 100%;
}

.solving__content-text .item__caption {
  margin-bottom: 54px;
}

.solving__content-text .item__desc:nth-child(2) {
  margin-bottom: 33px;
}

.instruction__headline {
  display: flex;
  gap: 41px;
}

.instruction-img {
  padding: 57px 43px;
  background: #191919;
  border-radius: 20px;
}

.instruction-img__box {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(0%, -50%);
}

.instruction__caption {
  font-weight: 800;
  font-size: 25px;
  line-height: 147%;
  margin-bottom: 5px;
}

.instruction__content {
  margin-bottom: 173px;
  position: relative;
}

.instruction__content-text {
  touch-action: none;
}

.instruction__list {
  display: flex;
  flex-direction: column;
  gap: 46px;
  padding-right: 52%;
  max-width: 100%;
}

.instruction__list-item {
  display: flex;
  align-items: flex-start;
  gap: 41px;
  max-width: 535px;
}

.instruction-btn {
  font-family: 'Inter';
  font-weight: 700;
  font-size: 30px;
  line-height: 147%;
  color: #FFFFFF;
  padding: 10px 24px;
  border: 2px solid #7F5AF0;
  border-radius: 50px;
  transition: all 0.3s cubic-bezier(0.22, 1, 0.36, 1);
}

.instruction-btn:hover {
  background-color: #7F5AF0;
}

.partners-img__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 220px;
  touch-action: none;
  user-select: none;
}

.approach__wrapper {
  display: flex;
  gap: 32px;
  text-align: center;
  user-select: none;
  touch-action: none;
}

.approach__wrapper-item {
  transition: all 0.8s;
  height: 25rem;
  max-width: 228px;
  overflow: hidden;
  width: 100%;
  padding: 20px 20px 20px;
  background: #191919;
  border-radius: 20px;
  cursor: pointer;
}

.approach__wrapper-item .item__caption {
  text-align: left;
  font-weight: 800;
  font-size: 25px;
  line-height: 147%;
  margin-bottom: 11px;
  max-width: 190px;
  width: 100%;
}

.approach__wrapper-icon {
  margin-bottom: 41px;
}

.approach__wrapper .item__desc {
  opacity: 0;
  visibility: hidden;
  text-align: left;
}

.approach-open {
  text-align: left;
  max-width: 506px;
  width: 100%;
  background-image: url("../img/approach-noob-bg.svg");
  background-repeat: no-repeat;
  background-position: right center;
  animation: aproachOpenCard 0.8s cubic-bezier(0.22, 1, 0.36, 1);
}

.approach-open .item__desc {
  animation: fadeIn 2s cubic-bezier(0.22, 1, 0.36, 1);
  animation-fill-mode: forwards;
  animation-delay: 0.6s;
}

.approach-open .approach-img {
  transition: transform 0.8s;
  transform: translateX(0%);
  animation: aproachOpenImg 0.8s cubic-bezier(0.22, 1, 0.36, 1);
  animation-fill-mode: forwards;
}

.approach-close {
  animation: aproachCloseCard 0.8s cubic-bezier(0.22, 1, 0.36, 1);
}

.approach-close .item__desc {
  width: 431px;
  animation: fadeOut 0.8s cubic-bezier(0.22, 1, 0.36, 1);
  animation-fill-mode: forwards;
}

.approach-close .approach-img {
  transition: transform 0.8s;
  transform: translateX(35%);
}

.approach-img {
  border-radius: 100px;
  padding: 1rem;
  animation: aproachCloseImg 0.8s cubic-bezier(0.22, 1, 0.36, 1);
  animation-fill-mode: forwards;
}

.feedback-img__box {
  position: absolute;
  left: 48.6%;
  top: -60px;
  z-index: -1;
}

.feedback-hashtag {
  color: #D5D5D5;
  margin-bottom: 24px;
}

.try-btn {
  padding: 19px 0;
  background-color: #2CB67D;
  border: 2px solid #2CB67D;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 24px;
  line-height: 160%;
  border-radius: 100px;
  max-width: 348px;
  width: 100%;
  transition: all 0.3s cubic-bezier(0.22, 1, 0.36, 1);
}

.try-btn:hover {
  background-color: transparent;
}

.footer-contacts, .footer-location {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 25px 0;
  border-bottom: 1px solid #3C3C3C;
  margin-bottom: 32px;
}

.footer-contacts .item__desc span, .footer-location .item__desc span {
  color: #949494;
}

.footer-location {
  margin-bottom: 52px;
}

.footer-nav:nth-child(2) .footer-nav__inner {
  margin-top: 15px;
  align-items: flex-end;
}

.footer-nav__inner {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.footer-nav__block, .footer-nav__list {
  font-family: 'Manrope';
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  text-decoration-line: underline;
}

.footer-nav__text {
  margin: 10px 0 0 0;
}

.footer-nav__link {
  font-family: 'Manrope';
  font-weight: 400;
  font-size: 13px;
  line-height: 23px;
  text-decoration-line: underline;
  color: #FFFFFF;
}

.footer__wrapper {
  margin-bottom: 60px;
  padding: 56px 35px 64px;
  background: #191919;
  border-radius: 20px;
}

.footer__wrapper .logo-img {
  margin-bottom: 72px;
}

.footer__other {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
  row-gap: 22px;
}

.footer__other-text {
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

.footer-social__block {
  display: flex;
  gap: 11px;
  align-items: center;
}

.burger-box {
  display: none;
  position: relative;
}

.burger-lines {
  position: absolute;
  top: 0;
  right: 5px;
  width: 16px;
  height: 2px;
  border-radius: 2px;
  background-color: #FFFFFF;
}

.burger-lines::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 2px;
  border-radius: 2px;
  background-color: #FFFFFF;
  top: -8px;
  left: 0;
}

.burger-lines::before {
  content: '';
  position: absolute;
  width: 12px;
  height: 2px;
  border-radius: 2px;
  top: 8px;
  left: 0;
  background-color: #FFFFFF;
}

.active-btn {
  border: 2px solid #2CB67D;
  background-color: #2CB67D;
}

.active-btn:hover {
  background-color: #2CB67D;
}

.solving__content--hidden {
  animation: fadeOut 0.2s cubic-bezier(0.22, 1, 0.36, 1);
}

.solving__content--open {
  display: flex;
  animation: fadeIn 0.2s cubic-bezier(0.22, 1, 0.36, 1);
  animation-fill-mode: forwards;
}

.bars {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 31px;
}

.bars-line {
  height: 3px;
  max-width: 180px;
  min-width: 90px;
  width: 100%;
  background-color: #606060;
  border-radius: 100px;
}

.bars-line--active {
  transition: background 0.2s cubic-bezier(0.22, 1, 0.36, 1);
  background-color: #7F5AF0;
}
